<style>
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
dt {
  font-weight: bold;
}
div[typeof="DefinedTerm"] {
  padding: 15px;
}
div[typeof="DefinedTerm"]:nth-child(odd) {
  background-color: #e5e5e5;
}
</style>

<h1>ECMA TC-53 Lexica</h1>

{{#lexica}}
  <dl vocab="http://schema.org/">
  {{#termset}}
    <div typeof="{{@type}}">
      <h2>
        <span property="name">{{name}}</span>
      </h2>
    </div>
  {{/termset}}
  {{#terms}}
    <div typeof="DefinedTerm">
      <link property="url" href="{{& @id}}"/>
      <dt property="name"><a href="{{url}}">{{& name}}</a></dt>
      <dd property="description">{{& description}}</dd>
      <link property="inDefinedTermSet" href="{{#termset}}{{& @id}}{{/termset}}" />
    </div>
  {{/terms}}
  </dl>
{{/lexica}}