<style>
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  margin: 24px;
  padding: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-inline-start: 0;
}
div[typeof="DefinedTerm"] {
  padding: 15px 0;
}
</style>

{{#lexica}}
  <dl vocab="http://schema.org/">
  {{#termset}}
    <div typeof="DefinedTermSet Consortium Project">
      <h1>
        <span property="name">{{name}}</span>
      </h1>
    </div>
  {{/termset}}
  {{#terms}}
    <div typeof="DefinedTerm">
      <link property="url" href="{{& @id}}"/>
      <dt property="name"><a href="{{& url}}">{{& name}}</a></dt>
      <dd property="description">{{& description}}</dd>
      <link property="inDefinedTermSet" href="{{#termset}}{{& @id}}{{/termset}}" />
    </div>
  {{/terms}}
  </dl>
{{/lexica}}